HOME            = .
RANDFILE        = $ENV::HOME/.rnd
NOM_NOEUD       = $ENV::NOM_NOEUD
DOMAIN_SUFFIX   = $ENV::DOMAIN_SUFFIX
NOM_MILLEGRILLE = $ENV::NOM_MILLEGRILLE
EMAIL           = millegrilles@mdugre.info

####################################################################
[ req ]
default_bits       = 2048
# default_keyfile    = millegrille.pem
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = CA

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Ontario

localityName         = Locality Name (eg, city)
localityName_default = Russell

organizationName            = Organization Name (eg, company)
organizationName_default    = $NOM_MILLEGRILLE

organizationalUnitName         = Organizational Unit (eg, division)
organizationalUnitName_default = Noeud

commonName           = Common Name (e.g. server FQDN or YOUR name)
commonName_default   = $NOM_NOEUD.$DOMAIN_SUFFIX

emailAddress         = Email Address
emailAddress_default = $NOM_MILLEGRILLE.$EMAIL

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, nonRepudiation, keyEncipherment
subjectAltName       = @alternate_names

####################################################################
[ alternate_names ]

# Supporter l'access via docker (swarm), local et public.
DNS.1  = $NOM_NOEUD
DNS.2  = $NOM_NOEUD.local
DNS.3  = $NOM_NOEUD.$DOMAIN_SUFFIX
