HOME            = .
RANDFILE        = $ENV::HOME/.rnd
NOM_NOEUD       = $ENV::HOSTNAME
DOMAIN_SUFFIX   = $ENV::DOMAIN_SUFFIX
NOM_MILLEGRILLE = $ENV::NOM_MILLEGRILLE
EMAIL           = millegrilles@mdugre.info

####################################################################
[ req ]
default_bits       = 2048
# default_keyfile    = millegrille.pem
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = CA

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Ontario

localityName         = Locality Name (eg, city)
localityName_default = Russell

organizationName            = Organization Name (eg, company)
organizationName_default    = $NOM_MILLEGRILLE

organizationalUnitName         = Organizational Unit (eg, division)
organizationalUnitName_default = Middleware

commonName           = Common Name (e.g. server FQDN or YOUR name)
commonName_default   = $NOM_NOEUD.$DOMAIN_SUFFIX

emailAddress         = Email Address
emailAddress_default = $NOM_MILLEGRILLE.$EMAIL

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, nonRepudiation, keyEncipherment, \
                       dataEncipherment, serverAuth, clientAuth, timeStamping
subjectAltName       = @alternate_names

####################################################################
[ alternate_names ]

# Section swarm docker (sans suffixe)
DNS.1  = mongo
DNS.2  = mq
DNS.3  = consignationfichiers

# Section .local
DNS.4  = $NOM_NOEUD.local
DNS.5  = www.local
DNS.6  = coupdoeil.local
DNS.7  = mq.local
DNS.8  = mongo-express.local

# Section publique
DNS.9  = mq.$DOMAIN_SUFFIX
