[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
x509_extensions = ca_extensions # The extensions to add to the cert

[req_distinguished_name]
CN = millegrilles
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
# extendedKeyUsage = serverAuth
# subjectAltName = @alt_names
[alt_names]
# DNS.1 = amd8.pivoine.maceroc.com
# DNS.2 = example.com

[ ca_extensions ]

subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:true
keyUsage               = keyCertSign, cRLSign
