[req]
distinguished_name = req_distinguished_name
# req_extensions = ca_extensions
prompt = no
x509_extensions = ca_extensions # The extensions to add to the cert

[req_distinguished_name]
CN = inter

[ ca_extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:true
keyUsage               = critical, keyCertSign, cRLSign
