[
   {rabbit, [
      {loopback_users, []},
      {vm_memory_high_watermark, {absolute, "600MiB"}},
      {vm_memory_high_watermark_paging_ratio, 0.5},
      {log_levels, [{channel, warning}, {connection, warning}, {federation, warning}, {mirroring, info}]},
      {heartbeat, 60},
      {tcp_listeners, [
         {"0.0.0.0", 5672}
       ]},
      {ssl_listeners, [
        {"0.0.0.0", 5673},
        {"::", 5671}
       ]},
      {ssl_options, [
        {cacertfile, "/run/secrets/pki.millegrilles.ssl.CAcerts"},
        {certfile, "/run/secrets/pki.millegrilles.ssl.cert"},
        {keyfile,  "/run/secrets/pki.millegrilles.ssl.key"},
        {verify,   verify_peer},
        {fail_if_no_peer_cert, true}
      ]}
    ]},
    {rabbitmq_management, [
        {load_definitions, "/opt/rabbitmq/dist/definitions.json"},
        {listener, [
             {ip, "::"},
             {port,     443},
             {ssl,      true},
             {ssl_opts, [
                 {certfile, "/run/secrets/pki.millegrilles.web.cert"},
                 {keyfile,  "/run/secrets/pki.millegrilles.web.key"}
              ]}
         ]}
     ]}
].
