[
   {rabbit, [
      {loopback_users, []},
      {vm_memory_high_watermark, 0.7},
      {vm_memory_high_watermark_paging_ratio, 0.8},
      {log_levels, [{channel, warning}, {connection, warning}, {federation, warning}, {mirroring, info}]},
      {heartbeat, 10},
      {tcp_listeners, [
         {"0.0.0.0", 5672}
       ]},
      {ssl_listeners, [5671]},
      {ssl_options, [
        {cacertfile, "/run/secrets/ssl.maple.millegrilles.cert"},
        {certfile, "/run/secrets/ssl.maple.millegrilles.cert"},
        {keyfile,  "/run/secrets/ssl.maple.millegrilles.key"}
      ]}
    ]},
    {rabbitmq_management, [
        {load_definitions, "/opt/rabbitmq/dist/definitions.json"},
        {listener, [
             {port,     15671},
             {ssl,      true},
             {ssl_opts, [
                 {certfile, "/run/secrets/ssl.maple.millegrilles.cert"},
                 {keyfile,  "/run/secrets/ssl.maple.millegrilles.key"}
              ]}
         ]}
     ]}
].
