# m h  dom mon dow   command

# Timers MilleGrille dev2
0 *    * * *         /home/mathieu/millegrilles-timers/start-horaire.sh
0 0    * * *         /home/mathieu/millegrilles-timers/start-quotidien.sh

