HOME            = .
RANDFILE        = $ENV::HOME/.rnd
MG_NOM          = $ENV::NOM_OU
DOMAIN_SUFFIX   = $ENV::DOMAIN_SUFFIX
EMAIL           = millegrilles@mdugre.info

####################################################################
[ req ]
default_bits       = 8192
default_keyfile    = millegrille.pem
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = CA

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Ontario

localityName         = Locality Name (eg, city)
localityName_default = Russell

organizationName            = Organization Name (eg, company)
organizationName_default    = Millegrilles

commonName           = Common Name (e.g. server FQDN or YOUR name)
commonName_default   = $MG_NOM

emailAddress         = Email Address
emailAddress_default = $MG_NOM.$EMAIL

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1  = www.$DOMAIN_SUFFIX
DNS.2  = mongo.$DOMAIN_SUFFIX
DNS.3  = mongo-express.$DOMAIN_SUFFIX
DNS.4  = mq.$DOMAIN_SUFFIX
DNS.5  = coupdoeil.$DOMAIN_SUFFIX
